<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Nice To-Do List App Demo</title>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
</head>

<body>

<div ng-app="TaskManager" style="margin-top:150px;">
  <div class="container">
    <div class="content" ng-controller="taskController">
      <h1>Nice To-Do List</h1>
      <p class="tagline">an angularJS todo app</p>
      <form>
        <div class="inputContainer">
          <input type="text" id="description" class="taskName" placeholder="What do you need to do?" ng-model="newTask">
          <label for="description">Description</label>
        </div>
        <div class="inputContainer half last right">
          <input type="date" id="dueDate" class="taskDate" ng-model="newTaskDate">
          <label for="dueDate">Due Date</label>
        </div>
        <div class="row">
          <button class="taskAdd" ng-click="addNew()"><i class="fa fa-plus icon"></i>Add task</button>
          <button class="taskDelete" ng-click="deleteTask()"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>
            <button class="editTask" ng-click="editTask()"><i class="fa fa-pencil-square-o icon"></i>Edit Task</button>
        </div>
      </form>
      <ul  class="taskList">
        <li class="taskItem"  ng-hide="taskItem.complete" ng-repeat="taskItem in taskItem track by $index" ng-model="taskItem">
          <input type="checkbox" class="taskCheckbox" ng-model="taskItem.complete" ng-change="save()">
          <span class="complete-{{taskItem.complete}}">{{taskItem.description}}</span>  <strong class="taskDate complete-{{taskItem.complete}}"><i class="fa fa-calendar"></i>{{taskItem.date | date : 'mediumDate'}}</strong> </li>
          
          
<!--          - --->
          
          <li class="taskItem" ng-hide="!taskItem.complete"  ng-repeat="taskItem in taskItem track by $index" ng-model="taskItem">
          <input type="checkbox" class="taskCheckbox" ng-model="taskItem.complete" ng-change="save()">
          <span class="complete-{{taskItem.complete}}">{{taskItem.description}}</span>  <strong class="taskDate complete-{{taskItem.complete}}"><i class="fa fa-calendar"></i>{{taskItem.date | date : 'mediumDate'}}</strong> </li>
      </ul>
      <!-- taskList --> 
    </div>
    <!-- content --> 
  </div>
  <!-- container --> 
</div>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'></script>
<script src="app.js"></script>    
</body>
</html>
